
| Filename               | Description            | File sizes |
| ---------------------- | ---------------------- | ---------- |
| `dombuilder.ts`        | Main source file       | `5796` |
| `dombuilder.js`        | De-typed source        | `5764` |
| `dombuilder.min.js`    | Mangled and minified   | `2340` |
| `dombuilder.min.js.gz` | Gzip `-9` compressed   | `976` |
