
| Filename               | Description            | File sizes |
| ---------------------- | ---------------------- | ---------- |
| `dombuilder.typed.js`  | Main source file       | `12841` |
| `dombuilder.js`        | De-typed source        | `12468` |
| `dombuilder.min.js`    | Mangled and minified   | `1917` |
| `dombuilder.min.js.gz` | Gzip `-9` compressed   | `866` |
