
| Filename               | Description          | File sizes |
| ---------------------- | -------------------- | ---------- |
| `dombuilder.typed.js`  | Main source file     | `12533` |
| `dombuilder.js`        | De-typed source      | `12132` |
| `dombuilder.min.js`    | Mangled and minified | `1803` |
| `dombuilder.min.js.gz` | Gzip compressed      | `823` |
